/***********
 * General *
 ***********/

body {
  padding-top: 50px;
}
section {
  padding: 40px 15px;
}
form {
  border-color: #ddd;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  padding: 12px;
}

.main {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 51px;
}

/*********
 * Input *
 *********/

.awaiting-input .input {
  display: block;
}
.input {
  display: none;
}

/************
 * Analysis *
 ************/

.awaiting-input .analysis {
  display: none;
}
.analysis {
  display: flex;
}
.analysis > .panel {
  margin-top: 0;
  margin-right: 0;
}

/* ---- Entry List ---- */
.analysis .entries-index {
  flex: auto;
  width: auto;
  white-space: nowrap;
}
.entries-index .list-group-item {
  cursor: pointer;
}

/* ---- Overview and Entry Panes ----*/
.overview-pane, .entry-pane {
  flex: auto;
  margin: 10px;
}

.viewing-entry .overview-pane {
  display: none;
}
.entry-pane {
  display: none;
}
.viewing-entry .entry-pane {
  display: block;
}

.close {
  font-size: inherit;
}
.entry-pane .downloads {
  list-style: none;
  padding-left: 0;
}
.disabled a {
  color: #777;
  pointer-events: none;
}
