body {
  padding-top: 50px;
}
section {
  padding: 40px 15px;
}
form {
  border-color: #ddd;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  padding: 12px;
}

.filter {
  text-align: center;
}

.results table {
  width: 100%;
}
.results td:first-child {
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.results td:nth-child(4) {
  text-align: right;
}