/***********
 * General *
 ***********/

body {
  padding-top: 50px;
}
section {
  padding: 40px 15px;
}
form {
  border-color: #ddd;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  padding: 12px;
}

/*********
 * Input *
 *********/

.awaiting-input .input {
  display: block;
}
.input {
  display: none;
}

/************
 * Analysis *
 ************/

.awaiting-input .analysis {
  display: none;
}
.analysis {
  display: flex;
}

.analysis .entries-index {
  flex: 1;
  width: auto;
}
.analysis td:first-child {
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.analysis td:nth-child(4) {
  text-align: right;
}

.details {
  flex: 1;
  padding: 10px;
}

.viewing-entry .overview-pane {
  display: none;
}
.entry-pane {
  display: none;
}
.viewing-entry .entry-pane {
  display: block;
}